body {
  display: flex;
  flex-direction: row;
  height: 50em;
  margin: 0 auto;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  margin: 1em;
  width: 200px;
  font-size: 20px;
}

#yellow {
  background-color: #ffff92;
  flex-grow: 2;
}

#red {
  background-color: #ff919c;
  flex-grow: 2;
}

#green {
  background-color: #8ffda7;
  flex-grow: 1;
}

#orange {
  background-color: #ffc788;
  flex-grow: 3;
}

#blue {
  background-color: #98d2ff;
  flex-grow: 1;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
}

li {
  background-color: white;
  padding: 1.5em;
  display: block;
  margin: 0.6em;
  width: 50px;
  height: 50px;
  text-align: center;
}
