body {
  display: flex;
  flex-direction: row;
  height: 50em;
  margin: 0 auto;
}

section {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1em;
  margin: 1em;
  width: 200px;
}


p{
  align-items: center;
}

#green {
  background-color: #8ffda7;
}

#orange {
  background-color: #ffc788;
}

#yellow {
  background-color: #ffff92;
}

#red {
  background-color: #ff919c;
}

#blue {
  background-color: #98d2ff;
}

ul {
  display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
  padding: 0;
}

li {
  background-color: white;
  padding: 1.5em;
  display: block;
  margin: 0.6em;
}
